<fa-view>
    <fa-modifier fa-translate="[20, 20, 0]">
        <fa-surface>
            <md-button class="md-primary" ng-click="vm.openBottomSheet()">
                Open a Bottom Sheet!
            </md-button>
            <md-content class="md-padding">
                Lorem ipsum dolor sit amet, ne quod novum mei.
                <form style="padding: 20px;">
                    <md-text-float label="Company" ng-model="user.company" disabled> </md-text-float>
                </form>
            </md-content>
        </fa-surface>
    </fa-modifier>
</fa-view>